@import "tailwindcss";

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-scroll {
  display: flex;
  width: calc(250px * 14);
  animation: scroll 30s linear infinite;
}